<div class="row">
  <div class="col-md-12">
    <%= render 'shared/challenge_form', challenge: @challenge %>
  </div>
</div>
<div class="row margin-bottom">
  <div class="col-xs-6"></div>
  <div class="col-xs-6 text-right">
    <%= link_to 'Today\'s teams', teams_division_path(@division) %>
  </div>
</div>
<div class="row" id="division-group-list">
  <%= render 'shared/group_list', groups: @division.groups %>
</div>
