<div id="captains-modal" style="max-width: inherit; display: none;">
  <% if @division.groups.all?{|group| group.captain } %>
    <%= render 'divisions/captains', groups: @division.groups %>
  <% end %>
</div>
