<div class="merit-summary">
  <h1><%= merit.name %></h1>
  <div class="merit-image"><%= cl_image_tag merit.image, :width=>300, :height=>300, :crop=>"fill" %></div>
  <div class="points"><%= merit.points %></div>
</div>
